body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(135deg, #b8d3c7, #f0e68c, #f0b8c4, #c7b8d3);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 150px; /* Adjust the size of the logo */
}

.website-name {
    color: #333;
    font-size: 2em;
    margin: 10px 0;
}

.container {
    max-width: 600px;
    margin: auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.question {
    margin-bottom: 20px;
}

.question p {
    font-weight: bold;
    color: #555;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: none;
    position: relative;
    margin-left: -10px;
}

.check-btn {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.check-btn:hover {
    background-color: #218838;
}